.App {
  text-align: center;
  background-color: black;
}

.TimelineView {
  background-color: green;
}

.DetailView {
  background-color: black;
}
.DetailView-Revision {
  width: 50px;  
}
.DetailView-Date {
  width: 110px;  
}
.DetailView-Desc {
  width: calc(100% - 160px);  
}

.GridView {
  
}
