.App {
  text-align: center;
  background-color: black;
}

.TimelineView {
  background-color: #aaaaaa;
  width: 100%;  
  height: 100%;
  position: absolute;
}

.DetailView {
  background-color: #333333;
}
.DetailView-Revision {
  width: 50px;  
}
.DetailView-Date {
  width: 110px;  
}
.DetailView-Desc {
  width: calc(100% - 160px);  
}

.GridView {
  
}
